div(ui-content-for='navBar')
    i.icon.fa.fa-angle-left.pull-left(ng-click='back()')
    a.pull-right(data-toggle="dropdown",href="javascript:void(0)")
        i.icon.fa.fa-plus-circle.fa-inverse
    div(ui-drop-menu='menus')
    h1.title 发布信息[{{vendorInfo.name}}]
div
    ul.ui-accordion
        li(ui-accordion='accordionData')
        li
            a.weui-cell.weui-cell_access(ng-href='#/manage/list/{{vendorInfo.id}}')
                .weui-cell__hd
                    i.fa.fa-list-ul
                .weui-cell__bd.weui-cell_primary 已发布信息
                .weui-cell__ft


