div(ui-content-for='navBar')
    a.pull-right(data-toggle="dropdown",href="javascript:void(0)")
        i.icon.fa.fa-plus-circle.fa-inverse
    div(ui-drop-menu='menus')
    h1.title 我的活动
div(infinite-scroll="pageFunction()"
    infinite-scroll-container='container'
    infinite-scroll-disabled='scrollDisabled')
    div.weui-panel__hd  我的活动
    div.weui-panel__bd(ng-repeat='list in lists track by $index')
        a.ui-list-items(
            ng-repeat='item in list track by $index'
            href='#/signed/{{item.id}}')
            div.ui-list-items-img
                div
                    img(ng-src='/thumbnail/{{item.image}}' alt)
            div.ui-list-items-content
                div
                    h4 {{item.name}}
                    p {{item.description}}
                div
                    div
                        .fa.fa-clock-o
                        |&nbsp{{item.ts*1000|date:'MM-dd hh:mm'}}
                    div(ui-user-nickname='item.uid')
    div.weui-panel__ft
        .weui-loadmore(ng-show='loading')
            i.weui-loading
            span.weui-loadmore__tips 正在加载
        .weui-loadmore.weui-loadmore_line(ng-show='listInfo.end')
            span.weui-loadmore__tips 暂无数据
