div(ui-content-for='navBar')
    a.pull-right(data-toggle="dropdown",href="javascript:void(0)")
        i.icon.fa.fa-plus-circle.fa-inverse
    div(ui-drop-menu='menus')
    h1.title 个人信息
.weui-cells(style='margin-top:0rem;')
    .weui-cell
        .weui-cell__bd.weui-cell_primary.we-label
            p 头像
        .weui-cell__ft.we-info
            div(logo-src='')
    a.weui-cell(href='#/userInfonickname')
        .weui-cell__bd.weui-cell_primary.we-label
            p 昵称
        .weui-cell__ft.we-info {{selfInfo.nickname}}
    a.weui-cell(href='#/userInfoqq')
        .weui-cell__bd.weui-cell_primary.we-label
            p QQ
        .weui-cell__ft.we-info {{selfInfo.qq}}
    a.weui-cell(href='#/userInfoemail')
        .weui-cell__bd.weui-cell_primary.we-label
            p Email
        .weui-cell__ft.we-info {{selfInfo.email}}
    a.weui-cell(href='#/userInfophone')
        .weui-cell__bd.weui-cell_primary.we-label
            p 手机
        .weui-cell__ft.we-info {{selfInfo.phone}}
    a.weui-cell(href='#/userInfosex')
        .weui-cell__bd.weui-cell_primary.we-label
            p 性别
        .weui-cell__ft.we-info {{selfInfo.sex==0?'男':'女'}}
    a.weui-cell(href='#/changePassword')
        .weui-cell__bd.weui-cell_primary.we-label
            p 更改密码
//.scrollable.config-list
//    .scrollable-content
//        .list-group
//            a.list-group-item.config-logo(href='#/userLogo')
//                .config-label 头像
//                div(logo-src='selfInfo.photoId')
//            a.list-group-item(href='#/userInfonickname')
//                .config-label 昵称
//                .config-info {{selfInfo.nickname}}
//            a.list-group-item(href='#/userInfoqq')
//                .config-label QQ
//                .config-info {{selfInfo.qq}}
//            a.list-group-item(href='#/userInfoemail')
//                .config-label Email
//                .config-info {{selfInfo.email}}
//            a.list-group-item(href='#/userInfophone')
//                .config-label 手机
//                .config-info {{selfInfo.phone}}
//        .list-group
//            a.list-group-item(href='#/userInfosex')
//                .config-label 性别
//                .config-info {{selfInfo.sex==0?'男':'女'}}
//            a.list-group-item(href='#/changePassword')
//                .config-label 更改密码
