.ui-carousel {
    width:100%;
    overflow:hidden;
    position: relative;
}


.ui-carousel li {
    display:block;
    float:left;
}

.ui-carousel-opt-bar {
    position: absolute;
    bottom: 10px;
    right:14px;
}

.ui-carousel-count {
    background: rgba(29, 27, 27, 0.76);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 4px;
}