-
    var nav = {
        funcMenu:{
            serviceManage: {
                name:"服务管理",
                url:"#/serviceType/list",
                icon:"map-signs"
            },
            servActionManage:{
                name:"字段管理",
                url:"#/serviceAction/list",
                icon:"navicon"
            }
        },
        servTypeMenu:{
            listAction:{
                name:"服务列表",
                url:"#/serviceType/list",
                icon:"list"
            },
            addAction:{
                name:"服务添加",
                url:"#/serviceType/add",
                icon:"plus"
            }

        },
        servActionMenu:{
            listAction:{
                name:"字段列表",
                url:"#/serviceAction/list",
                icon:"list"
            },
            addAction:{
                name:"字段添加",
                url:"#/serviceAction/add",
                icon:"plus"
            }

        }
    }