-
    var nav = {
        funcMenu:{
            serviceManage:{
                name:"服务管理",
                url:"#/vendor/serviceManage",
                icon:"map-signs"
            },
            vendorManage: {
                name:"企业设置",
                url:"#/vendor/setting",
                icon:"cog"
            },
            userInfoManage:{
                name:"个人资料",
                url:"#/info",
                icon:'cog'
            },
            quitManage:{
            name:"注销",
            url:"/logout",
            icon:"power-off"
            }
        },
        serviceManage:{
            serviceAdd:{
                name:"添加服务",
                url:"#/vendor/serviceAdd",
                icon:"plus"
            }
        }
    }